mixin levelEditorOption(label, id)
  div.card-body
    label(for=id + '-input') #{label}
    div.input-group.input-group-sm
      input.form-control(type='text', id=id + '-input')

mixin levelEditorOptionReadonly(label, id)
  div.card-body
    label(for=id + '-input') #{label}
    div.input-group.input-group-sm
      input.form-control.disabled(type='text', id=id + '-input')

mixin levelEditorOptionCoord(label, id)
  div.card-body
    label #{label}
    div.input-group.input-group-sm
      input.form-control(type='text', id=id + '-x-input', placeholder="X")
      input.form-control(type='text', id=id + '-y-input', placeholder="Y")

mixin levelEditorOptionWidthHeight(label, id)
  div.card-body
    label #{label}
    div.input-group.input-group-sm
      input.form-control(type='text', id=id + '-w-input', placeholder="Width")
      input.form-control(type='text', id=id + '-h-input', placeholder="Height")

mixin levelEditorOptionBool(label, id)
  div.card-body
    div.custom-control.custom-checkbox
      input.custom-control-input(type='checkbox', id=id + '-input')
      label.custom-control-label(for=id + '-input') #{label}

mixin levelEditorHeader(label, id)
  h5.card-subtitle #{label}
  div.card-body.btn-group
    button.btn.btn-sm.btn-success(type='button', id='editor-' + id + '-set') Apply
    button.btn.btn-sm.btn-danger(type='button', id='editor-' + id + '-reset') Reset