mixin levelEditorOption(label, id)
  div.card-body
    label(for=id + '-input') #{label}
    div.input-group.input-group-sm
      input.form-control(type='text', id=id + '-input')
      div.input-group-append
        button.btn.btn-primary(id=id + '-set') Set

mixin levelEditorOptionReadonly(label, id)
  div.card-body
    label(for=id + '-input') #{label}
    div.input-group.input-group-sm
      input.form-control.disabled(type='text', id=id + '-input')

mixin levelEditorOptionCoord(label, id)
  div.card-body
    label #{label}
    div.input-group.input-group-sm
      input.form-control(type='text', id=id + '-x-input', placeholder="X")
      input.form-control(type='text', id=id + '-y-input', placeholder="Y")
      div.input-group-append
        button.btn.btn-primary(id=id + '-set') Set

mixin levelEditorOptionWidthHeight(label, id)
  div.card-body
    label #{label}
    div.input-group.input-group-sm
      input.form-control(type='text', id=id + '-w-input', placeholder="Width")
      input.form-control(type='text', id=id + '-h-input', placeholder="Height")
      div.input-group-append
        button.btn.btn-primary(id=id + '-set') Set

mixin levelEditorOptionBool(label, id)
  div.card-body
    div.custom-control.custom-checkbox
      input.custom-control-input(type='checkbox', id=id + '-input')
      label.custom-control-label(for=id + '-input') #{label}
      button.btn.btn-sm.btn-primary(id=id + '-set') Set
